{# src/Blogger/BlogBundle/Resources/views/Page/index.html.twig #}
{% extends 'EnricoBlogBundle::layout.html.twig' %}

{% block body %}
    {% for blog in blogs %}
        <article class="blog">
            <div class="date"><time datetime="{{ blog.created|date('c') }}">{{ blog.created|localizeddate() }}</time></div>
            <header>
                <h2><a href="{{ path('EnricoBlogBundle_blog_show', { 'id': blog.id, 'slug': blog.slug }) }}">{{ blog.title }}</a></h2>
            </header>

            <img src="{{ asset(['bundles/enricoblog/images/', blog.image]|join) }}" />
            <div class="snippet">
                <p>{{ blog.blog(500) }}</p>
                <p class="continue"><a href="{{ path('EnricoBlogBundle_blog_show', { 'id': blog.id, 'slug': blog.slug }) }}">Continua a leggere...</a></p>
            </div>

            <footer class="meta">
                <p>Commenti: <a href="{{ path('EnricoBlogBundle_blog_show', { 'id': blog.id, 'slug': blog.slug }) }}#comments">{{ blog.comments|length }}</a></p>
                <p>Scritto da: <span class="highlight">{{ blog.author }}</span> alle {{ blog.created|date('h:iA') }}</p>
                <p>Tags: <span class="highlight">{{ blog.tags }}</span></p>
            </footer>
        </article>
    {% else %}
        <p>There are no blog entries for enricoblog</p>
    {% endfor %}
{% endblock %}
