{# src/Blogger/BlogBundle/Resouces/views/Blog/show.html.twig #}
{% extends 'EnricoBlogBundle::layout.html.twig' %}

{% block title %}{{ blog.title }}{% endblock %}

{% block body %}
    <article class="blog">
        <header>
            <div class="date"><time datetime="{{ blog.created|date('c') }}">{{ blog.created|localizeddate() }}</time></div>
            <h2>{{ blog.title }}</h2>
        </header>
        <img src="{{ asset(['bundles/enricoblog/images/', blog.image]|join) }}" alt="{{ blog.title }} image not found" class="xlarge" />
        <div>
            <p>{{ blog.blog }}</p>
        </div>
    </article>
        <section class="comments" id="comments">
        <section class="previous-comments">
            <h3>Commenti</h3>
            {% include 'EnricoBlogBundle:Comment:index.html.twig' with { 'comments': comments } %}
                    <h3>Aggiungi un commento</h3>
            {% render 'EnricoBlogBundle:Comment:new' with { 'blog_id': blog.id } %}
        </section>
    </section>
{% endblock %}
